<html>
<head>
    <style>
        body { font-family: arial; margin: 20px; }
        td { padding: 5px; }
        .bullish { background: green; color: white; }
        .bearish { background: red; color: white; }
    </style>
</head>
<body>
    <h1>Scanner</h1>
    <a href="/snapshot"><h3>Get Snapshot</h3></a>

    <form>
        <select name="pattern">
            <option value="">-- Select a Pattern --</option>
            {% for key in candlestick_patterns %}
                <option value="{{ key }}" {% if pattern == key %}selected="selected"{% endif %}>{{ candlestick_patterns[key] }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Scan" />
    </form>
    {% if response %}
    <table>
        <tr>
            <td>
                Start Time: 
            </td>

            <td>
                {{ response['01_start_time'] }}
            </td>

        </tr>
        <tr>
            <td>
                End Time: 
            </td>

            <td>
                {{ response['02_end_time'] }}
            </td>

        </tr>
        <tr>
            <td>
                Total Time: 
            </td>

            <td>
                {{ response['03_total'] }}
            </td>

        </tr>

    </table>
    {% endif %}

</body>
</html>