<html>
<head>
    <style>
        body { font-family: arial; margin: 20px; }
        td { padding: 5px; }
        .bullish { background: green; color: white; }
        .bearish { background: red; color: white; }
        .header { border-bottom:2px solid orangered;padding-bottom:5px; }
    </style>
</head>
<body>
    {% if response %}
        <a href="/"><h3>Return Home</h3></a>
    {% else %}
        <h1 class="header">Scanner</h1>
        <a href="/snapshot"><h3>Get Snapshot (~ 40 minutes)</h3></a>
    
        <form>
            <select name="pattern">
                <option value="">-- Select a Pattern --</option>
                {% for key in candlestick_patterns %}
                    <option value="{{ key }}" {% if pattern == key %}selected="selected"{% endif %}>{{ candlestick_patterns[key] }}</option>
                {% endfor %}
            </select>
    
            <input type="submit" value="Scan" />
        </form>
    
    {% endif %}

    {% if response %}
    <table>
        <tr>
            <td>
                Start Time: 
            </td>

            <td>
                {{ response['01_start_time'] }}
            </td>

        </tr>
        <tr>
            <td>
                End Time: 
            </td>

            <td>
                {{ response['02_end_time'] }}
            </td>

        </tr>
        <tr>
            <td>
                Total Time: 
            </td>

            <td>
                {{ response['03_total'] }}
            </td>

        </tr>

    </table>
    {% endif %}

</body>
</html>